@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


section {
    margin-top: 50px;
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 2rem;
    max-width: 3000px;
    background: #ff7200;
    margin: 1rem;
    color: white;
    transition: all 0.4s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.card:hover {
    /*transform: scale(103%);*/
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0);*/
}

.card i {
    font-size: 200%;
}

.card .card-title {
    font-size: 180%;
}

.card .card-text {
    font-size: 120%;
}

.card a {
    text-decoration: none;
    position: absolute;
    margin-bottom: 1.5rem;
}

.card .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}


.btn {
    border: 1px solid transparent;
    background-image: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.42857143;
    touch-action: manipulation;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
}

.btn.btn-outline-primary {
    transition: .5s all ease;
    border: solid 1px black;
    padding: .8rem;
    color: black !important;
    background-color: white;
    border-radius: 9999px;
}

.btn.btn-outline-primary:hover {
    background-color: #ff7200;
    color: white !important;
}

.alert .inner {
    display: block;
    padding: 6px;
    margin: 6px;
    border-radius: 3px;
    border: 1px solid rgb(180,180,180);
    background-color: rgb(212,212,212);
}

.alert .close {
    float: right;
    margin: 3px 12px 0px 0px;
    cursor: pointer;
}

.alert .inner,.alert .close {
    color: rgb(88,88,88);
}

.alert input {
    display: none;
}

.alert input:checked ~ * {
    animation-name: dismiss,hide;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s,100ms;
}

.alert.error .inner {
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
}

.alert.error .inner,.alert.error .close {
    color: rgb(185,74,72);
}

.alert.success .inner {
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
}

.alert.success .inner,.alert.success .close {
    color: rgb(70,136,71);
}

.alert.info .inner {
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
}

.alert.info .inner,.alert.info .close {
    color: rgb(58,135,173);
}

.alert.warning .inner {
    border: 1px solid rgb(251,238,213);
    background-color: rgb(252,248,227);
}

.alert.warning .inner,.alert.warning .close {
    color: rgb(192,152,83);
}

@keyframes dismiss {
    0% {
        opacity: 1;
    }
    90%, 100% {
        opacity: 0;
        font-size: 0.1px;
        transform: scale(0);
    }
}

@keyframes hide {
    100% {
        height: 0px;
        width: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
}