* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh; /* change to 8vh */
    background-color: #8a5d37;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: -15px;
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 10;
    position: -webkit-sticky;
}

.navbar .logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.navbar .logo img {
    margin-top: 20px;
}

.navbar ul.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    list-style-type: none;
}

.navbar ul.nav-links li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.navbar ul.nav-links li a:hover {

    color: #ff7200;
}

.navbar .menu-icon {
    display: none;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 25px;
}

.navbar .menu-icon span {
    display: block;
    border-radius: 15px;
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.4s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .navbar .menu-icon {
        display: block;
        z-index: 99999;
    }

    .navbar .logo {
        flex-grow: 1;
    }

    .navbar ul.nav-links {
        position: absolute;
        top: 18vh; /* change to 8vh */
        height: 82vh; /* change to 92vh */
        left: 0px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 1);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        width: 50%;
    }

    .navbar ul.nav-links li {
        opacity: 0;
    }

    #content h1.content-header {
        font-size: 25px;
    }

    #content p.content-para {
        font-size: 13px;
    }
}

.navbar ul.nav-links.menu-active {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes navLinkAnime {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.navbar .menu-icon.span-anime span:first-child {
    transform: rotate(-135deg) translate(-20px, 6px);
    margin-left: -18px;
}

.navbar .menu-icon.span-anime span:nth-child(2) {
    opacity: 0;
}

.navbar .menu-icon.span-anime span:last-child {
    transform: rotate(135deg) translate(-19px, -5px);
    margin-left: -17px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8a5d37;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8a5d37;
}


#frame {
    position: relative;
    margin: 2% auto;
    width: 1400px;
    height: 100%;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    margin-bottom: 20px;
}

.split_frame {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* text-align: center; */
}

/*  */
footer {
    width: auto;
    background-color: #333;
    padding: 0 160px 0;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial;

}

footer p {
    line-height: 180%;
    color: #b3b1b1;
}

footer p:hover {
    cursor: pointer;
    color: #ff7200;
}

footer h6, div {
    margin-bottom: 20px;
}

footer h6 {
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer div .one {
    margin-bottom: 20px;
    text-transform: none;
}

footer .details {
    display: flex;
    flex-wrap: wrap;
}

footer .details div {
    width: 150px;
    margin-right: 20px;
}

footer .details div p {
    text-transform: uppercase;
}

footer .details div span {
    margin-bottom: 20px;
}

footer .contact {
    width: 190px;
}

footer .information {
    margin-right: 20px;
}

footer .information p {
    margin-bottom: 8px;
}

footer .account p {
    margin-bottom: 8px;
    width: 250px;
}

footer .newsletter p, input {
    padding: 5px;
}

footer .newsletter input {
    width: 170px;
    margin-bottom: 20px;
    border-style: none;
    background-color: #4d4d4d;
    color: #a29e9e;
}

footer .newsletter input::placeholder {
    color: #a29e9e;
    font-size: 10px;
}

footer .newsletter button {
    padding: 7px 12px;
    margin-left: 4px;
    color: #fff;
    background-color: #f00;
    font-size: 10px;
    border-style: none;
}

footer .newsletter a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

footer .newsletter a:first-of-type {
    background-color: #4267B2;
}

footer .newsletter a:nth-of-type(2) {
    background-color: #1da1f2;
}

footer .newsletter a:nth-of-type(3) {
    background-color: #f00;
}

footer .newsletter a:nth-of-type(4) {
    background-color: #8a50ca;
}

footer .newsletter a:last-of-type {
    background-color: #eeaa2f;
    color: #333;
}

a:hover {
    color: rgba(0, 0, 0, .3);
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

/* start media footer */
@media (max-width: 767px) {
    footer {
        padding: 15px 30px;
        justify-content: initial;
    }

    footer .information {
        width: 120px;
    }

    footer .account {
        width: 120px;
    }
}

/* end media footer */
.footer-2 {
    /* width: 76.3%; */
    max-width: 100%;
    height: 45px;
    padding: 15px 180px;
    background-color: #252121;
    position: relative;
    margin-bottom: -10px;
    font-family: Arial;
}

.footer-2 p {
    color: gray;
    display: inline-block;
    position: absolute;
    top: 15px;
}

.footer-2 p span {
    color: #fff;
}

.footer-2 .icons {
    float: right;
}

.footer-2 a {
    display: inline-block;
    margin-right: 4px;
}

.footer-2 a:first-of-type {
    background-color: #31abea;
    color: #fff;
}

.footer-2 a:nth-of-type(2) {
    background-color: #14226b;
    color: #fff;
}

.footer-2 a:nth-of-type(3) {
    background-color: #31abea;
    color: #fff;
}

.footer-2 a:nth-of-type(4) {
    background-color: orange;
    color: #fff;
}

.footer-2 a:last-of-type {
    background-color: #31abea;
    color: #fff;
}

/* start media footer-2 */
@media (max-width: 767px) {
    .footer-2 {
        padding: 5px 20px;
        height: 80px;
    }

    .footer-2 p {
        padding: 5px 15px;
        float: none;
        position: static;
    }

    .footer-2 .icons {
        padding: 5px 15px;
        float: none;
    }
}

/*  */
.movie-container {
    margin: 20px 0;
    margin-left: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-container select {
    background-color: #fff;
    font-family: 'Lato',
    sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Will remove the browser style and let you use your own style */
}


/*  */
.split_frame_2 img {
    width: 200px;
    height: 300px;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.block_1 {
    margin-top: 30px !important;
}

.block_1 h3 {
    color: #ff7200;
}

.block_1 p {
    font-size: 20px;
}

.infor {
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 30px;
    margin-left: 50px;

}

.cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #efbd95;
}

@media (max-width: 576px) {

    body {
        padding-top: 30px;
    }

    .movie-container select {
        font-size: 14px;
    }

    .seat {
        height: 21px;
        width: 23px;
    }

    .movie-screen img {
        max-width: 92%;
    }

    .subtitle {
        font-size: 13px;
        padding: 7px;
    }

    .seat:nth-of-type(2) {
        margin-right: 12px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 12px;
    }

    .movie-screen {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 14px;
    }

    #count,
    #total {
        font-size: 18px
    }
}

/* thong tin do an */

.tt {
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.7;
}

.tt-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;

}

.tt-2 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-left: 20px;
}

.tt-1 b,
.tt-2 b {
    color: #ea7617;
}

.combo {
    margin-left: 20px;
    margin-top: 20px;
    color: #494c62;
}

.combo_tt {
    margin-left: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.combo_tt .mot {
    /* text-align: center;/ */
    margin-left: -30px;
    opacity: 0.7;
}

/*  */
.cart-quantity {
    width: 35%;
    margin-left: 20px;
}

.cart-column {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid black; */
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: auto auto auto ;
}
.cart-column button{
    width: 20px;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

/*  */


/* accordion style */

.accordion {
    border-radius: 3px;
    width: 95%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /* background: #151515; */
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: height 225ms ease;
    cursor: pointer;
    margin-left: 20px;
}

.accordion-header {
    border-bottom: 2px solid #ccc;
    /* position: relative; */
    z-index: 2;
}

.accordion-header-content {
    padding: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.accordion-header-content-label {
    color: #ccc;
}

.accordion-header-content-title {
    margin-top: 10px;
}

.accordion-content {
    padding: 10px;
    overflow: hidden;
    transition: 225ms;
    transition-delay: 225ms;
    position: relative;
}

/* accordion open effect set height for accordion */

.accordion:not([open]) {
    height: 75px;
}

.accordion[open] {
   max-height: 100%;
}

/* remove marker */

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

/* custom marker */

summary::after {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    font-weight: normal;
}

details[open] summary::after {
    font-size: 46px;
    font-weight: 300;
    top: -5px;
}

.accordion-content b {
    font-size: 20px;
    opacity: 0.6;
}

/*  */
.classic {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 10px;
}

.classic {
    background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
    background-size: 5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
}

.classic:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
    background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
    background-size: 5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.classic-1 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.classic-2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.sum {
    margin-top: 20px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    font-weight: 600;
    /* opacity: 0.7; */
}

.cartt {
    margin-left: 20px;
}

.cartt p {
    /* font-family: SourceSansPro; */
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-weight: bold;
    opacity: 0.7;
}

/* modal */

.tablee {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
}

.tablee th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    position: relative;
}

.tablee th {
    background-color: #f2f2f2;
}

.tablee tr:hover {
    background-color: #f5f5f5;
}

.tablee .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tablee td:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}


.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 92%;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 1000px;
    margin-left: -28px;
    /* margin: auto; */
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
