<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>FILMBOOKING</title>
    <link rel="stylesheet" th:href="@{/admin/css/web.css}">

</head>
<body>
<footer th:fragment="footer">
    <div class="contact">
        <h6>GIỚ THIỆU</h6>
        <p><i class="fa fa-angle-double-right"></i> Về chúng tôi</p>
        <p><i class="fa fa-angle-double-right"></i> Thỏa thuận sử dụng </p>
        <p><i class="fa fa-angle-double-right"></i> Quy chế hoạt động</p>
        <p><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</p>

    </div>
    <div class="information">
        <h6>GÓC ĐIỆN ẢNH</h6>
        <p><i class="fa fa-angle-double-right"></i> Thể loại phim</p>
        <p><i class="fa fa-angle-double-right"></i> Bình luận phim</p>
        <p><i class="fa fa-angle-double-right"></i> Blog điện ảnh</p>
        <p><i class="fa fa-angle-double-right"></i> Phim hay tháng</p>
        <p><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</p>
    </div>
    <div class="account">
        <h6>HỖ TRỢ</h6>
        <p><i class="fa fa-angle-double-right"></i> Góp ý</p>
        <p><i class="fa fa-angle-double-right"></i> Sale & Services</p>
        <p><i class="fa fa-angle-double-right"></i> Rạp & giá vé</p>
    </div>
    <div class="account">
        <h6>LIÊN HỆ </h6>
        <b style="color: #b3b1b1; font-size: 22px;">Công ty cổ phần nhóm Tôi</b>
        <br>
        <br>
        <p>Địa chỉ: Tầng A, Số 4, Đường C, Phường D, Quận E, Thành phố F</p>
        <p>Hotline: 1900 1001323</p>
        <p>Email: congty@gmail.com</p>
    </div>
    <div class="newsletter">
        <h6>Kết nối với chúng tôi</h6>

        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fas fa-rss"></i></a>
    </div>
</footer>


</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
</html>