@import url(http://font.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root{
    --primary-color: #f90a39;
    --text-color: #1d1d1d;
    --bg-color:#f1f1fb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif;*/
}
body{
    background-color: white;
}
.containerCl{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar{
    width: 100%;
    max-width: 1100px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
}
.calendar .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.calendar .header .mouths{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}
.calendar .header .btns{
    display: flex;
    gap: 10px;
}
.calendar .header .btns .btn{
    display: flex;
    width: 80px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.calendar .header .btns .btn:hover{
    background-color: #db0933;
    transform: scale(1.05);
}
.weekdays{
    display: flex;
    /* gap: 100px; */
    margin-bottom: 10px;
}
.weekdays .day{
    /* width: calc(100% / 7 - 0px); */
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 40px 0px 40px;
}
.days{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.days .day{
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
    background-color: #fff;
    transition: all 0.3s;
    border: 1px solid var(--text-color);
}
.days .day:not(.next):not(.prev):hover{
    color: #FFF;
    background-color: var(--primary-color);
    transform: scale(1.05);
}
.days .today{
    color: #FFF;
    background-color: var(--primary-color);
    /* transform: scale(1.05); */
}
.days .day.next,
.days .day.prev{
    color: #ccc;
}
.task-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6bbb6b;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: grab;
}

.task-item.dragging {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/**/
.form_add_schedule button{
    margin: 30px 0px 0px 30px;
}
.select_room select{
    margin: 20px 0px 30px 0px;
}
.table_schedule{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 7px;
}
.table_schedule ::-webkit-scrollbar{
    width: 5px;
}
.table_schedule::-webkit-scrollbar-thumb{
    border-radius: 100rem;
}

.table_schedule .col{
    margin: 0px 40px 0px 0px;
}
.table_phim_vua_them{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    box-shadow: 0px 5px 10px 0px #bababa;
    border-radius: 20px;
}
.table_phim_vua_them ul li {
    margin: 10px 0px 10px 0px;
}
.schedule-html{
    margin: 40px 40px 0px 340px;
}
.them_lich_hang_loat{
    background-color: #f2f6fb;
    transition: all 0.3s ease;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 20px 0px;
    border-radius: 30px;

}
.them_lich_hang_loat:hover{
    box-shadow: 0px 5px 10px 10px #d2d2d2;
    transform: scale(1.02);
}
.them_lich_hang_loat .button_add_schedule{
    margin: 30px 0px 40px 0px;
    /*position: fixed;*/
}
.them_lich_hang_loat .button_add_schedule button{
    padding: 10px 20px 10px 20px;
    font-size: 18px;

    /*position: fixed;*/
}
.them_lich_hang_loat .button_add_schedule button{
    display: flex;
}
.text_phim_vua_them h4{
    text-align: center;
    margin: 0px 0px 20px 0px;
}
/*-----------------ticket--------------*/
.search_by_ticket{
    background-color: #f2f6fb;
    padding: 20px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin: 0px 0px 30px 0px;
}
.search_by_ticket:hover{
    box-shadow: 0px 5px 10px 10px #d2d2d2;
    transform: scale(1.04);
}
.search_by_ticket .text-loc-ticket{
    margin: 10px 0px 20px 5px;
}
.search_by_ticket .text-loc-ticket h4{
    font-size: 23px;
}
.search_by_ticket select{
    margin: 0px 0px 20px 0px;
}
.search_by_ticket button{
    padding: 10px 30px;
    font-size: 18px
}
.form-loc-schedule{
    margin: 0px 0px 30px 0px;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 5px 5px darkgrey;
    padding: 20px;
    border-radius:30px;
}
.form-loc-schedule select{
    margin: 20px 0px 20px 0px
}
.form-update-schedule{
    margin: 40px 40px 0px 300px;
}

.tabs {
    display: flex;
    justify-content: center;
    position: relative;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    text-align: center;
    color: #333;
    display: none;

}

.tab-pane.active {
    display: block;
}

.card:nth-child(even) {
    flex-grow: 1.5;
}

.card:nth-child(1) .card-heading h3 {
    text-align: center;
}

.card:not(.full-bleed):hover {
    box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.4),
    0 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.card > * {
    flex-grow: 1;
    flex-basis: calc((var(--max-width-to-stack-card-content) - 100%) * 999);
}

.card-image {
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(0.75);
    /* min-height: 200px; */
    transition: filter 0.75s ease 0.2s;
    margin-top: 30px;
    margin-left: 40px;
}

.card:hover .card-image {
    filter: brightness(1.1);
}

.content {
    padding: 1rem 1.5rem 2rem 1.5rem;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    position: sticky;
    /* top: 100%; */
    margin-top: 2rem;
}

.bottom b {
    font-size: 15px;
}

.end {
    padding: 0.25em 0.5em;
    background: #e6e6e6;
    border-radius: 10px;
    font-size: 0.85rem;
    color: #333;
    transition: background 0.3s ease, color 0.3s ease 0.1s;
    cursor: pointer;
    height: 40px;
    width: 100px;
    outline: 0 !important;
    border: #FFF;
}

.end:hover {
    background: #ff7200;
    color: #fff;
}

.content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: #ff7200;
}
.w3-container {
    padding: 0.01em 16px;
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-black,
.w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    margin-top: 100px;
}

.w3-cinema {
    text-align: center;
    margin-top: 50px;
    display: grid;
    /*justify-content: 5fr 5fr;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #595858;
}

@media (max-width: 600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important;
    }

    .w3-modal {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .w3-modal-content {
        width: 500px;
    }

    .w3-modal {
        padding-top: 50px;
    }
}

@media (min-width: 993px) {
    .w3-modal-content {
        width: 900px;
    }
}

.w3-cinema-button {
    height: 35px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.w3-cinema-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*justify-content: center;*/
    flex-wrap: nowrap;

}
