
.btnUploadService{
    border-radius: 4px;
    border: 1px dashed red;
    padding: 5px 10px;
    margin: -20px 20px 0px 20px;
    background: #e7e7e7;
}
.btnUploadService:hover{
    background: #958e8e;
}
/*.search-box-food:hover .search-txt-food{*/
/*    width: 240px;*/
/*    padding: 0 6px;*/
/*}*/
/*.search-box-food:hover .select-btn-food{*/
/*    background: #FFFFFF;*/
/*}*/
.box-Service {
    max-width: 600px;
    width: 100%;
    margin-top: -8px;
    margin-left: 160px;
}
.box-Service .search-box {

    position: relative;
    height: 50px;
    max-width: 600px;
    /* background: red; */
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}
/* #check:checked ~ .search-box {
    max-width: 750px;
} */
.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: white;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box input:focus{
    outline: none;
}
.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 70px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background: white;
    border-radius: 0 25px 25px 0;
    background: #958e8e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);

}
.search-box .icon:hover{
    background: #4d4d4d;
}
/* #check:checked ~ .search-box .icon {
    background: #958e8e;
    color: white;
    width: 60px;
    border-radius: 0 25px 25px 0;
} */
#check:checked ~ .search-box .icon .btn-search {
    background: white;
    /* color: white; */
    /* width: 60px; */
    border-radius: 25px;
}
#check {
    display: none;
}
.btn-search {
    border: none;
    background: #ff676d;
    font-size: 20px;
    /*padding: px;*/
    color: black;
    border-radius: 25px;
}
.search-box .icon i{
    line-height:52px;
    margin-left:6px;
    color: white;
}
.form_add_Service button{
    margin: 35px 0px 0px 10px;
    padding: 5px 15px;
}
